<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="./css/base_mobile.css" />
		<link rel="shortcut icon" href="./favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!--<meta http-equiv="cache-control" content="max-age=0" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
		<meta http-equiv="pragma" content="no-cache" />-->
		<link rel="stylesheet" type="text/css" href="./css/news.css" />
		<link rel="stylesheet" type="text/css" href="./css/pager.css" />
		<title>盛隆电气集团欢迎您!</title>
	</head>
	<body>
		<div class="wrapper">
			<!--<header class="clearfix">
				<div class="logo">
					<a href="./index.html"><img src="./images/logo.png" alt=""/></a>
				</div>
			</header>-->
			<div class="slider">
				<div class="banner"></div>
				<div class="title">人民大会堂盛隆电气盛恩答谢年欢会</div>
			</div>
			<div class="page_main">
				<div id="newslist" class="post_list">
					
				</div>
			</div>
		</div>
		<script type="text/javascript" src="./js/zepto.min.js"></script>
		<script type="text/javascript" src="./js/underscore.js"></script>
		<script type="text/html" id="contentTemplate">
			<%
				if(newslist != null) {
					_.each(newslist, function(news) {
			%>
					<div class="post_item clearfix" onclick="visitNews(<%= news.sl_news_id%>)">
						<a href="#" class="post_cover"><img src="<%= news.image%>" alt="" /></a>
						<div class="post_msg">
							<h2><a href="#"><%= news.title%></a></h2>
							<p class="post_time"><%= news.post_date%></p>
							<p class="post_desc"><%= news.post_desc%></p>
						</div>
					</div>
			<%	
					});
				} else {
			%>
				<div class="post_item clearfix">
					<a href="./news_template.html" class="post_cover"><img src="./uploads/2013/10/3_64_64.64_64.jpg" alt="" /></a>
					<div class="post_msg">
						<h2><a href="./news_template.html">合作共赢——施耐德全球财务总裁访问盛隆电气</a></h2>
						<p class="post_time">2013年-10月-15日</p>
						<p class="post_desc">2013年10月15日，施耐德全球财务总裁、中国财务总裁一行访问盛隆电气。fֽ耐德电气：全球财务总裁...</p>
					</div>
				</div>
				<div class="post_item clearfix">
					<a href="./news_template.html" class="post_cover"><img src="./uploads/2013/10/3_64_64.64_64.jpg" alt="" /></a>
					<div class="post_msg">
						<h2><a href="./news_template.html">合作共赢——施耐德全球财务总裁访问盛隆电气</a></h2>
						<p class="post_time">2013年-10月-15日</p>
						<p class="post_desc">2013年10月15日，施耐德全球财务总裁、中国财务总裁一行访问盛隆电气。fֽ耐德电气：全球财务总裁...</p>
					</div>
				</div>
			<%
				}
			%>
		</script>
		<script type="text/javascript">
			var menu = {};
			var newslist = [];
			var parentMenu = 0;
			if(typeof Ti != "undefined") {
				var time = 0;
				Ti.App.addEventListener("app:changeContent", function(e) {
					if(time == e.time)
						return;
					time = e.time;
					Ti.App.fireEvent("app:log", {
						message: 'changeContent'
					});
					newslist = JSON.parse(e.content);
					parentMenu = JSON.parse(e.parentMenu);
					changeContent(newslist);
				});
			} else {
				changeContent(null);
			}
			function visitNews(sl_news_id) {
				var timestamp = (new Date()).getTime();
				Ti.App.fireEvent("app:visitNews", {
					sl_news_id: sl_news_id,
					parentMenu: JSON.stringify(parentMenu),
					timestamp: timestamp
				});
				return false;
			}
			function changeContent(newslist) {
				var template = $("#contentTemplate").html();
				$("#newslist").html(_.template(template, {newslist: newslist}));
				
				if(typeof Ti != "undefined") {
					setTimeout(function() {
						Ti.App.fireEvent("app:hideLoading", {
							
						});
					}, 200);
				}
			}
		</script>
	</body>
</html>