.slider{
    position: relative;
}
.slider > .banner{
    display: block;
    width: 100%;
	height: 164px;
	background: url(../uploads/newscenter/banner-5.jpg) no-repeat;
	background-position: -450px 0px;
	background-size:960px 164px;
}
.slider > .title{
    position: absolute;
	text-align: center;
	width: 100%;
	top: 136px;
	color: #ffffff;
	font-size: 14px;
}
.side_bar{}
.pages_list{
    border-top: 1px solid #ccc;
}
.side_bar h1{
	background: #b70000;
	color: #fff;
	padding: 13px 10px;
	font-weight: 900;
	font-size: 16px;
}
.side_bar h1 span{
	font-weight: normal;
	font-size: 13px;
	font-family: Arial;
}
.side_bar .f_item{
	border-bottom: 1px solid #ccc;
	padding:0 20px;
    background: -webkit-linear-gradient(top,#fff 0%,#f3f3f3 100%);
    background: -o-linear-gradient(top,#fff 0%,#f3f3f3 100%);
    background: -moz-linear-gradient(top,#fff 0%,#f3f3f3 100%);
    background: linear-gradient(top,#fff 0%,#f3f3f3 100%);
}
.side_bar .f_name{
	display: block;
	height: 40px;
	line-height: 40px;
	color: #333;
	padding-left: 15px;
	text-decoration: none;
	outline:none;
	ie-dummy: expression(this.hideFocus=true);
}
.side_bar li.cur .f_name{
	color: #b70000;
	font-weight: 900;
	background: url(../images/side_bar_li_ico.png) left center no-repeat;

}
.side_bar .f_name span{
	display: block;
}
.side_bar .s_menu{
	display: none
}
.side_bar .s_menu li{
	margin-left: 35px;
}
.side_bar .s_menu li a{
	display: block;
	height: 34px;
	line-height: 34px;
	color: #333;
	background: url(../images/s_menu_li_arrow.png) no-repeat left top;
	padding-left: 13px;
	text-decoration: none;
	outline:none;
	ie-dummy: expression(this.hideFocus=true);
}
.side_bar .s_menu li.cur a,.side_bar .s_menu li a:hover{
	background-position: left -34px;
}
.page_main{}
.page_content{
	padding: 10px 0;
    font-size: 16px;
}
.page_content p{
    margin: 5px 0;
}
.page_content img{
	width: 100%;
}
.page_header{
	padding:10px 10px;
	border-bottom:1px solid #ccc;
}
.page_header h2{
	display: inline-block;
	float: left;
	color: #b70000;
}


/*date_cat*/
.date_cat{
	margin-top: .5em
}

/* post_cover */
.post_list{
	margin-top: 1em;
}
.post_cover{
	float: left;
	display: block;
	width: 87px;
	height: 64x;
	overflow: hidden;
	background: #f1f1f1;
	margin-right: 6px;
}
.post_cover img{
	width: 87px;
	height: 64px;
}
.post_msg *{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.post_msg h2{
	font-size: 14px;
	font-weight: 900;
}
.post_msg h2 a{
	color: #000;
}
.post_msg h2 a:hover{
	color: #B70000
}
.post_time{
	color: #888;
	font-size: 11px;
}
.post_desc{
	font-size: 11px;
	color: #888;
	margin-top: 10px;
}
.post_item{
	margin-bottom: 10px;
    padding: 0 .5em;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.gap_line{
	border-bottom: 1px solid #ccc;
}
.post_item2{
	text-align: right;
    padding: 0 .5em;
}
.post_item2 a{
	float: left;
	display: block;
	line-height: 34px;
	height: 34px;
	background: url(../images/s_menu_li_arrow.png) no-repeat left top;
	padding-left: 10px;
	color: #333;
}
.post_item2 a:hover{
	background-position: left -34px;
	color: #B70000;
}
.post_item2 span{
	color: #666;
	display: inline-block;
	height: 34px;
	line-height: 34px;
}

/*detail*/
.post_content{
    overflow: hidden;
    margin: 0 .5em;
}
.post_content iframe{
    width:100% !important;
    height:auto;
}
.post_content:after{
    content: ' ';
    visibility: hidden;
    display: block;
    clear: both;
    height: 0;
}
.post_content img{
    height: auto!important;
    width: 100% !important;
}
.prev_next{
	margin-top: 15px;
    padding: 0 .5em;
}
.wrap_box{
	width: 46px;
	float: right
}
.prev_link,.next_link{
	display: block;
	height: 21px;
	width: 23px;
	background: url(../images/prev_next_link_bg.png) no-repeat;
	overflow: hidden;
	text-indent: -9999px;
	float: left
}
.next_link{
	background-position: -22px 0;
}
.no_prev{
	background-position:0 -21px;
	cursor: default
}
.no_next{
	background-position:-22px -21px;
	cursor: default
}
.post_title{
	padding: 20px 0.5em;
	margin-top: 10px;
	/*border-top: 1px dotted #cdcdcd;*/
}
.post_title h1{
	color:#B70000 ;
	font-size: 15px;
	font-weight: 900;
}
.post_date{
	color: #555;
	font-family: Arial;
	font-size: 12px;
}
.back_btn{
	text-align: right
}
.back_btn a{
	color: #333;
}
.back_btn a:hover{
	color: #B70000;
}
.back_btn img{
	vertical-align:text-bottom;
	margin-right:5px;
}
