nav{
    border-bottom: 1px solid #eaebeb;
}
.content{
    background: none;
    min-height: 600px;
}
.content_inner{
    padding: .5em;
}
.map_list{
    margin-top: 15px;
}
h1.t01{
    font-size: 1.1em;
    padding: 10px 0;
    border-bottom: 1px solid #ededed;
    margin-bottom: 10px;
}
h1 .t01 a{
    color: #09c;
}
h2.map_title{
    font-size: 14px;
    padding: 5px 0;
    color: #db0424;
    border-bottom: 1px dotted #ccc;
}
.map_list .sub_list{
    padding: 10px 0 10px 2em;
}
.map_list .sub_list a{
    color: #666;
}
.map_list li{
    margin-left: 2em;
}
