/**
 *
 *	@名称: base.css
 *	@功能: 	重置浏览器默认样式
 *	@Author: liangqi000@gmail.com
 *	@Date:	2012,12,22
 *
 **/

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;padding:0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */

/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea{
    font:13px/1.5 "微软雅黑",arial,\5b8b\4f53;
}
input,select,textarea{
    font-size:100%;
}
/* 去掉各Table  cell 的边距并让其边重合 */
table{
    border-collapse:collapse;
    border-spacing:0;
}

/* IE bug fixed: th 不继承 text-align*/
th{
    text-align:inherit;
}

/* 去除默认边框 */
fieldset,img{
    border:0;
}
/* 去掉列表前的标识, li 会继承 */
ol,ul {
    list-style:none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {
    text-align:left;
}

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:500;
}
/* 默认不显示下划线，保持页面简洁 */
ins,a {
    text-decoration:none;
}
/* 让链接在 hover 状态下显示下划线 */
a:hover {
    text-decoration:underline;
}

/* 清理浮动 */
.clearfix:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.clearfix {
    *zoom:1; /* for IE6 IE7 */
}

/*IE6 去掉a链接img下边框*/
a img{
    border:none;
}
header{
    margin: .5em;
}
header .logo{
    float: left;
    display: inline-block;
}
header .logo img{
    display: block;
    height: 3em;
}
header .search{
    float: right;
    display: inline-blockblock;
    margin-top: .5em;
}
header .search img{
    width: 1.8em;
    vertical-align: middle;
}
footer{
    padding:.5em;
    position: relative;
}
footer a{
    color: #09c;
}
footer .weibo{
    position: absolute;
    right: .5em;
    top: 1.2em;
}
footer .weibo a{
    margin-left: .5em;
}
footer .weibo a img{
    vertical-align: middle;
}
.bread_crumbs{
    margin: .8em .5em;
}
.bread_crumbs a{color: #09f;}
.base_nav{
    height: 25px;
    line-height: 25px;
    background: #eee;
}
.base_nav a{
    display: block;
    float: left;
    text-align: center;
    color: #666;
    background:#fff;
    padding-left: 2px;
    text-decoration: none;
    margin-bottom:.5em;
}
.base_nav a:hover span{
    text-decoration: none;
    color: #fff;
    background: #B70000
}
.base_nav a span{
    display: block;
    background: #eee;
    padding: 0 .5em;
}
.base_nav a.cur span,.base_nav a.cur:hover span{
    background: #fff;
    color: #B70000;
    font-weight: 900;
    cursor: default
}
.back_btn{
    margin-top: 10px;
    text-align: right;
    margin-right: .5em;
}
.back_btn a{
    color: #333;
    font-size: 13px;
}
.back_btn img {
    vertical-align: text-bottom;
    margin-right: 5px;
}
.page_content table{
    width: 100% !important;
}
